@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Página Inicial - index*/
.body-index {
    background-color: black;
    color: white;
}

.menuprincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.logo-menu {
    filter: drop-shadow(1px 5px 6px rgb(213, 114, 0));
}

.logo-menu:hover {
    cursor: pointer;
}

.lista-ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 20px;
    color: white;
}

.link {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.link a {
    color: white;
    text-decoration: none;
}

.link::before, .link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(220, 99, 0);
    filter: drop-shadow(1px 5px 6px rgb(166, 92, 1));
    transform: scaleX(0);
    transition: transform 0.25s;
}

.link:before {
    top: -3px;
    transform-origin: left;
}

.link:after {
    bottom: -3px;
    transform-origin: right;
}

.link:hover::before, .link:hover::after, .active::before, .active::after {
    transform: scaleX(1);
}

.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

/* texto animado */
.surprise-centro {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.surprise-centro-titulo {
    display: flex;
    overflow: hidden;
}

.surprise-centro-titulo .text-dinamico {
    margin-left: 15px;
    height: 100px;
}

.surprise-centro-titulo .text-dinamico li {
    list-style: none;
    font-size: 100px;
    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -450px;
    }
}

.surprise-centro-titulo .text-dinamico li::after {
    content: '';
    position: absolute;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    border-left: 2px solid rgb(220, 99, 0);
    animation: typin 2s steps(15) infinite;
}

@keyframes typin {

    40%,
    60% {
        left: 105%;
    }

    100% {
        left: 0;
    }
}

.titulo {
    font-size: 100px;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
}

/* meio - subtitulo e botao */
.subtitulo {
    font-size: 17px;

}

.btn-suprise {
    padding: 10px;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(231, 105, 2);
    border: none;
    font-weight: bold;
    color: white;
}

.link-suprise {
    color: white;
    text-decoration: none;
}

.btn-suprise:hover {
    background-color: rgb(220, 99, 0);
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 10px 5px rgb(255, 176, 123);
}

*/ .btn-surprise {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.btn-surprise:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    box-shadow: 0 0 0 transparent;
    transition: all 0.3s ease-in-out;
    animation: contour 2s infinite;
}

@keyframes contour {
    0% {
        box-shadow: 0 0 0 transparent;
    }

    25% {
        box-shadow: 0 0 0 5px #ffffff;
    }

    50% {
        box-shadow: 0 0 0 10px #ffffff;
    }

    75% {
        box-shadow: 0 0 0 5px #ffffff;
    }

    100% {
        box-shadow: 0 0 0 transparent;
    }
}
/* media queries */
@media (max-width: 768px) {
    .surprise-centro-titulo {
        flex-direction: column;
        align-items: center;
    }

    .surprise-centro-titulo .text-dinamico {
        margin-left: 0px;
        height: 130px;
        overflow: hidden;
    }

    .titulo {
        font-size: 67px;
    }

    .subtitulo {
        margin: 10px;
        text-align: center;
    }

    @keyframes slide {
        100% {
            top: -450px;
        }
    }

    .titulo-most {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .centro {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .surprise-centro-titulo {
        flex-direction: column;
        align-items: center;
    }

    .surprise-centro-titulo .text-dinamico {
        height: 130px;
        margin: 0;
        overflow: hidden;
    }

    @keyframes slide {
        100% {
            top: -450px;
        }
    }
}

/* ---------------------------------------------------------------- */
/* Página de Cadastro de usuário */
.body-cadastro-usuario {
    background-color: black;
    height: 100%;
}

.cadastro-background {
    padding: 30px;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px 5px rgb(231, 105, 2);
}

.cadastro-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-cadastro-usuario {
    filter: drop-shadow(1px 5px 6px rgb(129, 71, 4));
}

.inserir-cadastro {
    margin: 8px;
    padding: 7px;
    width: 400px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
}

#formCadastros {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.input-group-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.input-group-cadastro label {
    margin-right: 10px;
    flex-basis: 220px;
}

.input-group-cadastro i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#btnConcluirCadastro {
    background-color: rgb(231, 105, 2);
    color: white;
    padding: 7px;
    font-size: large;
    border: none;
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
}

#btnConcluirCadastro:hover {
    background-color: rgb(76, 39, 9);
    cursor: pointer;
    transition: 0.5s;
}

#btnCadastroVoltar {
    background-color: rgb(231, 105, 2);
    color: white;
    padding: 7px;
    font-size: large;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: bold;
}

#btnCadastroVoltar:hover {
    background-color: rgb(76, 39, 9);
    cursor: pointer;
    transition: 0.5s;
}

.button-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mensagens submit*/
#msgsucesso {
    text-align: center;
    color: white;
    background-color: rgba(0, 255, 0, 0.8);
    border: solid 2px rgb(0, 255, 0);
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    animation: shadow-animation2 0.5s 3 linear;
}

#msgerro {
    text-align: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    border: solid 2px #ff0000;
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    animation: shadow-animation 0.5s 3 linear;
}

#msgfaltainfo {
    text-align: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    border: solid 2px #ff0000;
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    animation: shadow-animation 3s 1.5 linear;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
    }

    25% {
        box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.5);
    }
}

@keyframes shadow-animation2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 42, 0.5);
    }

    25% {
        box-shadow: 0 0 20px 5px rgba(0, 255, 55, 0.5);
    }
}

/*responsive*/
/* Estilos para tablet */
@media (max-width: 768px) {
    .cadastro-background {
        width: 100%;
        max-width: 500px;
    }

    .inserir-cadastro {
        width: 90%;
    }

    .input-group-cadastro label {
        flex-basis: content;
    }

}

/* Estilos para celular */
/* Estilos para celular */
@media (max-width: 480px) {
    .cadastro-background {
        width: 90%;
        padding: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        margin-top: 10px;
    }

    .inserir-cadastro {
        width: 80%;
    }

    .input-group-cadastro {
        flex-direction: column;
        position: relative;
        /* Adicione essa propriedade para manter o posicionamento relativo do elemento pai */
    }

    .input-group-cadastro label {
        margin-right: 0;
        padding: 10px;
        margin-bottom: 5px;
        flex-basis: auto;
    }
}
/* ---------------------------------------------------------------- */
/* Página de Login */
.body-login {
    background-color: black;
}

.login-logo {
    width: 150px;
    filter: drop-shadow(1px 5px 6px rgb(129, 71, 4));
}

.login-logo:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px rgb(129, 71, 4));
}

.fundo-login {
    padding: 30px;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px 5px rgb(231, 105, 2);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-login-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-login {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#btn-login {
    background-color: rgb(231, 105, 2);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    color: white;
    font-weight: bold;
}

#btn-login:hover {
    background-color: rgb(146, 67, 2);
    cursor: pointer;
    transition: 0.5s;
}

.link-login {
    text-decoration: none;
    list-style: none;
    color: white;
}

.link-cadastro {
    text-decoration: none;
    list-style: none;
    color: rgb(231, 105, 2);
}

.link-cadastro:hover {
    background-color: rgb(231, 105, 2);
    color: white;
    padding: 4px;
    border-radius: 5px;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .fundo-login {
        width: 100%;
        max-width: 500px;
    }

    .input-group-cadastro label {
        flex-basis: content;
    }
}

/* Estilos para celular */
@media (max-width: 480px) {
    .fundo-login {
        width: 90%;
        height: 400px;
        padding: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        margin-top: 10px;
        margin-bottom: 110px;
    }

    .login-logo {
        margin-bottom: 20px;
    }

    .input-login-group {
        flex-direction: column;

    }

    .input-login-group abel {
        margin-right: 0;
        padding: 10px;
        margin-bottom: 5px;
        flex-basis: auto;
    }
}

#msglogin {
    text-align: center;
    color: white;
    background-color: rgba(0, 255, 0, 0.8);
    border: solid 2px rgb(0, 255, 0);
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    animation: shadow-animation2 0.5s 3 linear;
}

#msgerrologin {
    text-align: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    border: solid 2px #ff0000;
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
    animation: shadow-animation 0.5s 3 linear;
}
/* ---------------------------------------------------------------- */
/* Página de perfil */
.body-perfil {
    background-color: black;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.image-input-container {
    position: relative;
}

.image-input-container input[type="file"] {
    display: none;
}

.image-input-container label {
    display: inline-block;
    cursor: pointer;
}

.image-input-container img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: none;
    border-radius: 4px;
}

.image-input-container span {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #777;
}

.perfil-info {
    display: flex;
    color: white;
    font-weight: bold;
    text-align: center;
    gap: 40px;
}

.perfil-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.perfil-input label {
    color: rgb(255, 255, 255);
}

.perfil-input-box {
    width: 300px;
    padding: 3px;
    text-align: center;
    color: white;
    background-color: black;
    border: none;
    box-shadow: 0 0 10px 1px rgb(231, 105, 2);
    border-radius: 5px;
}

.perfil-button {
    margin-top: 20px;
    display: flex;
}

.perfil-btn {
    background-color: rgb(220, 99, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 7px;
}

.perfil-btn:hover {
    cursor: pointer;
    background-color: rgb(106, 48, 1);
}

#msgAlteracao {
    text-align: center;
    color: white;
    background-color: rgb(220, 99, 0);
    border: solid 2px rgb(255, 188, 112);
    padding: 10px;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 400px;
}

#btn-cadFilmes {
    display: none;
}

@media (max-width: 768px) {
    .perfil-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .perfil-button {
        flex-direction: column;
        width: 60%;
    }
}

/* ---------------------------------------------------------------- */
/* Página de Pesquisa | Resultados | Cadastro de filmes */
.index-page {
    background-color: black;
}

.index-page h1 {
    text-align: center;
    font-family: arial;
    color: white;
}

.index-page .pesquisar {
    margin: 20px;
    background-color: rgb(231, 105, 2);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.index-page .pesquisar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#formCadastroFilme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(223, 223, 223);
    padding: 15px;
    margin: 10px 60px 10px 60px;
    border-radius: 10px;
}

.column {
    flex: 1 1 33.33%;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group label {
    margin-right: 10px;
    flex-basis: 100px;
    padding: 5px;
    text-align: end;
    font-weight: bold;
}

#formCadastroFilme input {
    margin: 8px;
    padding: 5px;
    width: 200px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
}

.button-group {
    display: flex;
    flex-direction: row;
    margin: 10px 60px 10px 60px;
    background-color: rgb(223, 223, 223);
    justify-content: center;
}

.botao-cadastro {
    width: 100px;
    justify-content: center;
    margin: 30px 10px 5px;
    color: white;
    background-color: rgb(231, 105, 2);
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 130px;
}

.botao-cadastro:hover {
    cursor: pointer;
    background-color: rgb(146, 67, 2);
}

.listar {
    justify-content: center;
    text-align: center;
}

.btn-busca {
    margin: 20px;
    background-color: rgb(231, 105, 2);
    border: none;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.btn-busca:hover {
    cursor: pointer;
    background-color: rgb(146, 67, 2);
}

.pesquisar:hover {
    cursor: pointer;
    background-color: rgb(146, 67, 2);
}
@media (max-width: 600px) {
    #formCadastroFilme input {
        width: 140px;
    }

}
#btnCarregaFilme{
    
}
/*----------------------------------------------------------------*/
.resultado {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
}

.capa {
    width: 200px;
    height: 290px;
}

.barra-pesquisa {
    text-align: center;
    margin-top: 20px;
}

.botao-pesquisa {
    text-align: center;
}

.botao-pesquisa button {
    background-color: rgb(231, 105, 2);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
}

.barra-pesquisa button {
    background-color: rgb(231, 105, 2);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
}

.barra-pesquisa button:hover {
    background-color: rgb(118, 64, 2);
    cursor: pointer;
}

.tags-pesquisa {
    color: white;
    font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
    margin-bottom: 20px;
}

.resultados-filmes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .filmes {
    background-color: rgb(231, 105, 2);
    padding: 20px;
    margin: 40px;
    width: 80%;
    /* margin-left: 430px; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    gap: 40px;
}

div .filmes div .title-img {
    display: flex;
    flex-direction: column;
}

div.filmes div.info-filmes {
    display: flex;
}

div .filmes:hover {
    cursor: pointer;
}

#tela {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
@media screen and (max-width: 730px) {
    div .filmes {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
    }
}
/* ---------------------------------------------------------------- */
/* Pagina de resultados mais procurados */
.most-body {
    background-color: black;
}

.most-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-most {
    color: white;
    font-size: 50px;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
}

.btn-one {
    color: white;
    background-color: rgb(220, 99, 0);
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
}

.btn-one:hover {
    background-color: rgb(139, 64, 2);
    cursor: pointer;
}

#telas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 
-----------------------------------------------------------
Pagina de detalhes */
.detalhes-filmes {
    background-color: black;
}

#detalhes-filme {
    display: flex;
    justify-content: center;

}

.detalhes-film {
    display: flex;
    justify-content: center;
    width: 90%;
    color: white;
    gap: 30px;
}

.detalhes-titulo {
    font-size: 40px;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
}

.detalhes-name {
    font-size: 20px;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
}

.detalhes-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 53px;

}

.sinopse {
    text-align: justify;
}

.rate1,
.rate2 {
    background-color: black;
    border: none;
    cursor: pointer;
    margin: 15px 5px;
}

.rate1:hover {
    background-color: rgb(59, 255, 72);
    border-radius: 50px;
}

.rate2:hover {
    background-color: rgb(206, 0, 0);
    border-radius: 50px;
}

.btn-rate:hover {
    width: 60px;
    transition: 0.4s;
}

.btn-rate:not(:hover) {
    transition: 0.4s;
}

.btn-rate {
    object-fit: contain;
    width: 55px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.background-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-voltar {
    margin-left: 50px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.btn-voltar:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    #detalhes-filme {
        flex-direction: column;
        align-items: center;
    }

    .detalhes-film {
        gap: 10px;
    }
}

/* ----------------------------------------------------
  Rodapé */
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    color: white;
}

.rod1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 30%;
    align-items: center;
}

.rod2 {
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
}

.rod2 p {
    margin-bottom: 30px;
}

.rod2 p:hover {
    color: rgb(220, 99, 0);
    transition: 0.3s;
    cursor: pointer;
}

.rod3 {
    width: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#social {
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    list-style: none;
    color: white;
}

#social:hover {
    color: rgb(213, 114, 0);
    font-size: 40px;
    transition: 0.5s;
}

#social:not(:hover) {
    transition: 0.5s;
}

.contact {
    margin-top: 20px;
}

.contact p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rod1,
    .rod2,
    .rod3 {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* -----------------------------------------------
about */
.about-body {
    background-color: black;
    color: white;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    gap: 40px;
    text-align: justify;
}

.about-info {
    color: white;
}

.about-title {
    color: white;
    font-size: 30px;
    filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));
}

/* -------------------------------------*/
/* MENU MOBILE */
.menu-container {
    position: relative;
    z-index: 2;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(32, 24, 16, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s linear 0.6s, transform 0.6s;
    transform: translateX(100%);
    z-index: 1;
    overflow-y: auto;
  }
  
  .mobile-menu.open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transform: translateX(0%);
  }
  
  .mobile-menu.closing {
    transition-delay: 0s;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  
  @media screen and (max-width: 730px) {
    .lista-ul {
      padding: 1.5rem 4rem;
    }
  
    .link {
      display: none;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      top: 0;
      left: 0;
      transition: opacity 0.6s, visibility 0s linear 0s, transform 0.6s;
      transform: translateX(100%);
      z-index: 2;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
      margin: 0;
    }
  
    .mobile-menu .link {
      display: block;
      margin-top: 30px;
      font-weight: bold;
      color: orange;
      filter: drop-shadow(3px 5px 6px rgb(213, 114, 0));

    }
  
    .open {
      display: block;
      display: flex;
      font-size: 30px;
      text-align: center;
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      transform: translateX(0%);
    }
  
    .closing {
      transition-delay: 0s;
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
    }
  }
  /* ---------------------------------------------------------------
  tabela de usuários */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    
    td, th {
      display: block;
      text-align: center;
    }
    
    th {
      display: none;
    }
    
    tr:nth-child(even) {
        background-color: rgb(255, 255, 255, 0.3);
      }
    
    td::before {
      content: attr(data-label);
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }
  }
  
  